{% extends 'base.html.twig' %}

{% block title %}Funcionários - {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Listagem de funcionários</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('funcionario_new') }}" class="btn btn-primary pull-right">Cadastrar Funcionário</a>
        </div>
    </div>
    <table class="table table-hover table-striped mt-3">
        <thead>
            <tr>
                <th>Mat.</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Status</th>
                <th>Data_admissao</th>
                <th>Data_exoneracao</th>
                <th>Salario_liquido</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td> {% if funcionario.cargo == "C"%}
                        <p>Comissionado</p>
                     {% elseif funcionario.cargo == "E"%}
                        <p>Efetivo</p>
                     {% endif %}
                </td>
                <td> {% if funcionario.status == "A"%}
                        <p>Ativo</p>
                    {% elseif funcionario.status == "E"%}
                        <p>Exonerado</p>
                    {% endif %}</td>
                <td>{{ funcionario.dataAdmissao|date('d/m/Y')}}</td>
                <td>{{ funcionario.dataExoneracao == '' ? '' : funcionario.dataExoneracao|date('d/m/Y') }}</td>
                <td>{{ funcionario.salarioLiquido|number_format(2, ',', '.') }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('funcionario_show', {"id":funcionario.id}) }}"> <i class="fa fa-eye"></i> </a>
                    <a class="btn btn-sm btn-warning" href="{{ path('funcionario_edit', {"id": funcionario.id}) }}"> <i class="fa fa-pencil"></i> </a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-sm btn-danger bt_excluir_produto" href="{{ path('funcionario_delete', {"id": funcionario.id}) }}"> <i class="fa fa-trash"></i> </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}