{% extends 'base.html.twig' %}

{% block title %}Funcionários - {% endblock %}

{% block body %}
    <h1>{{ funcionario.nome }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Matrícula</th>
                <td>{{ funcionario.id }}</td>
            </tr>
            <tr>
                <th>Logadouro</th>
                <td>{{ funcionario.logadouro }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ funcionario.numero }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ funcionario.bairro }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ funcionario.cidade }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ funcionario.estado }}</td>
            </tr>
            <tr>
                <th>Identidade</th>
                <td>{{ funcionario.identidade }}</td>
            </tr>
            <tr>
                <th>Imagem da Identidade</th>
                <td><a id="fancybox-image" href="{{ caminho_imagem ~ funcionario.imagemDocumento }}"><img src="{{ caminho_imagem ~ funcionario.imagemDocumento }}" alt="" width="100"></a></td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td> {% if funcionario.cargo == "C"%}
                        <p>Comissionado</p>
                    {% elseif funcionario.cargo == "E"%}
                        <p>Efetivo</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td> {% if funcionario.status == "A"%}
                        <p>Ativo</p>
                    {% elseif funcionario.status == "E"%}
                        <p>Exonerado</p>
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Data da Admissão</th>
                <td>{{ funcionario.dataAdmissao|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Data da Exoneração</th>
                <td>{{ funcionario.dataExoneracao|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Salário Base</th>
                <td>{{ funcionario.salarioBase|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                <th>Gratificação</th>
                <td>{{ funcionario.gratificacao|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                <th>Desconto</th>
                <td>{{ funcionario.desconto|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                <th>Salário líquido</th>
                <td>{{ funcionario.salarioLiquido|number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="row">
        <div class="form-group col-4">

            <a href="{{ path('funcionario_index') }}" class="btn btn-primary btn-sm">Voltar</a>
            <a href="{{ path('funcionario_edit', {'id': funcionario.id}) }}" class="btn btn-primary btn-sm">Editar</a>
            {% if is_granted("ROLE_ADMIN") %}
                {{ include('funcionario/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>
{% endblock %}