{% extends 'base.html.twig' %}

{% block title %}Secretarias - {% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Listagem de Secretarias</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('secretaria_new') }}" class="btn btn-primary pull-right">Cadastrar Secretaria</a>
        </div>
    </div>
    <table class="table table-hover table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secretaria in secretarias %}
            <tr>
                <td>{{ secretaria.id }}</td>
                <td>{{ secretaria.nome }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('secretaria_show', {"id":secretaria.id}) }}"> <i class="fa fa-eye"></i> </a>
                    <a class="btn btn-sm btn-warning" href="{{ path('secretaria_edit', {"id": secretaria.id}) }}"> <i class="fa fa-pencil"></i> </a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-sm btn-danger bt_excluir_produto" href="{{ path('secretaria_delete', {"id": secretaria.id}) }}"> <i class="fa fa-trash"></i> </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}