<style>
    #titulo {
        text-align: center;

    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #5a6268;
        color: white;
    }
</style>
    <h1 id="titulo">Relatório de Funcionarios</h1>
    <br>
    <table class="table" id="customers">
        <thead>
        <tr>
            <th>Mat.</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Status</th>
            <th>Data de admissão</th>
            <th>Data de exoneração</th>
            <th>Salário líquido</th>
        </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td> {% if funcionario.cargo == "C"%}
                        <p>Comissionado</p>
                    {% elseif funcionario.cargo == "E"%}
                        <p>Efetivo</p>
                    {% endif %}
                </td>
                <td> {% if funcionario.status == "A"%}
                        <p>Ativo</p>
                    {% elseif funcionario.status == "E"%}
                        <p>Exonerado</p>
                    {% endif %}</td>
                <td>{{ funcionario.dataAdmissao|date('d/m/Y')}}</td>
                <td>{{ funcionario.dataExoneracao == '' ? '' : funcionario.dataExoneracao|date('d/m/Y') }}</td>
                <td>{{ funcionario.salarioLiquido|number_format(2, ',', '.') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>