<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="https://use.fontawesome.com/81fba2bc7e.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}GEFUNC</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('default') }}">GEFUNC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)funcionario(.*)/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('funcionario_index') }}">Funcionários <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted("ROLE_GERENTE") %}
                <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)secre(.*)/' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('secretaria_index') }}">Secretarias</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)rela(.*)/' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('relatorio_index') }}">Relatórios</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)usuario(.*)/' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('usuario_index') }}">Usuários</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-right" style="margin-right: 6%">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.nome }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Trocar senha</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    {% block body %} {% endblock %}

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
